.main-search-input-item input:first-child {
  color: #292929;
  font-family: inherit;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}

section.hero-section .bg {
  top: 0%;
}

.clr-white {
  color: #fff !important;
}

.intro-item h2,
.section-subtitle {
  font-weight: 300;
}

.section-title h2 {
  font-weight: 600;
}

.section-title p {
  font-weight: 300;
  font-size: 1.2rem;
}

.listing-item-grid .listing-item-cat h3 {
  font-weight: 500;
}


.shapes-bg-big2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  opacity: 0.3;
}

.shapes-bg-big2:before {
  background-image: url(../images/bg/shapes-big.png);
}

.shapes-bg-big:before {
  background-image: url(../images/bg/jumbotron3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.main-search-button,
.header-sec-link a,
.section-separator:before,
.btn.flat-btn,
.trs-btn,
.to-top,
.footer-widget #subscribe-button,
.fs-map-btn,
.pagination a.current-page,
.list-single-header-cat a,
.parallax-section .section-separator:before,
.list-widget-social li a,
.datepicker table tr td span.active,
.datepicker table tr td span.active.active,
.lg-actions .lg-prev,
.lg-actions .lg-next {
  background-color: #FA5B63;
  background: #FA5B63;
  background-image: #FA5B63;
}

.nav-holder nav li a:before {
  background-color: transparent !important;
  background: transparent;
}

.testimonials-carousel .slick-current .testimonilas-text,
.sw-btn {
  background: #0054A6;
}

.nav-holder nav li a.act-link,
.section-subtitle,
.listsearch-header h3 span,
.card-listing .geodir-category-content h3 a,
.list-single-main-item-title span,
.list-author-widget-contacts li span i,
.custom-form label i,
.post-opt li i,
.card-listing .geodir-category-location i,
.listing-features li i,
.footer-contacts li i {
  color: #FA5B63;
}

.listing-counter {
  background: #FDDD72;
}

.listing-item-grid .listing-counter {
  color: #202020;
}

.section-title h2 {
  color: #0054A6;
}

.color-bg {
  background: transparent;
}

.color-bg2,
.gradient-bg {
  background: #FA5B63
}

.transparent-bg {
  background: rgba(0, 0, 0, .0) !important;
  background-color: rgba(0, 0, 0, .0) !important;
  transition: all .5s ease;

}

.scroll-bg {
  background-color: #2F3B59 !important;
}

.custom-wrapper {
  padding-top: 0px !important;
}

.nav-holder nav li a:hover {
  color: #FA5B63;
  text-decoration: none;
}

.no-dash {
  border-top: 0px;
  margin-top: 1px;
  ;
  padding-top: 1px;
}

.title-section h2 {
  font-weight: 300 !important;
  padding-top: 60px;
  padding-bottom: 50px;
}

.listsearch-input-item .nice-select {
  background: #F9F9F9;
  color: #757575;
}

.select-2 {
  width: 100%;
}

.select2-container {
  width: 100% !important
}

.select2-container--default .select2-selection--single {
  float: left !important;
  border: 1px solid #eee !important;
  background: #f9f9f9 !important;
  color: #757575 !important;
  width: 100%;
  padding: 8px 20px 40px 20px !important;
  border-radius: 6px !important;
  -webkit-appearance: none;
  text-align: left !important;
}

.select2-results__option {
  text-align: left !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 9px;
  right: 5px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #FA5B63
}

.select2-container--default .select2-selection--single .select2-selection__rendered,
.qodef-archive-places-search {
  color: #202020;
  font-weight: 600;
}

.date-bold {
  font-weight: 600;
}

button:focus {
  outline: 0px !important;
}

.fs-map-btn:hover {
  background-color: #DD5050;
}

.fa-search:before {
  color: #FA5B63;
}

.listing-geodir-category,
.accordion a.toggle.act-accordion {
  background: #0C54A6;
}

.fa-angle-up:before {
  color: white;
}


.join-wrap-btn:hover,
.trs-btn:hover,
.search-widget .search-submit:hover,
.cs-wrapper .subcribe-form #subscribe #subscribe-button:hover,
.cs-social li a:hover,
.card-listing .geodir-category-content h3 a:hover {
  text-decoration: none;
}

.info-yacht li {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
}

.card-body {
  text-align: left;
}

.no-padding {
  padding: 0px;
}

.upper-card {
  padding: 15px 20px;
  background-color: #EE5A63;
  border-radius: 10px 10px 0px 0px;
}

.bottom-card {
  padding: 15px 20px;
  background-color: #fff;
  border: 1.2px solid #E5E7F2;
  border-radius: 0px 0px 10px 10px;
}

.rec-border {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 2px;
}

.tgl {
  font-weight: 600;
  color: white;
  font-size: 1rem;
}

.judul-card {
  font-weight: 600;
  color: white;
  font-size: 1rem;
}

.idr {
  font-weight: 600;
  color: #FA5B63;
  font-size: .9rem;
  margin-right: 7.5px;
}

.idr-value {
  font-weight: 600;
  color: #6A6A6A;
  font-size: .9rem;
}

.btn-book {
  padding: 5px 15px;
  font-weight: 500;
  font-size: .9rem;
  border: 1px solid #2954A6;
  background-color: #fff;
  color: #2954A6;
  border-radius: 3px;
}

.btn-book:hover {
  background-color: #2954A6;
  color: white;
}

.btn-itenerary {
  margin-top: 1.5rem;
  padding: 5px 15px;
  font-weight: 500;
  font-size: .9rem;
  border: 1px solid #FA5B63;
  background-color: #fff;
  color: #FA5B63;
  border-radius: 3px;
}

.btn-itenerary:hover {
  background-color: #FA5B63;
  color: white;
}


.inner-scroll {
  max-height: 700px;
  overflow-y: scroll;
}

.inner-gallery-scroll {
  max-height: 400px;
  overflow-y: scroll;
}


.box-item a.gal-link {
  background: #fff;
}

.booking-modal-wrap2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: hidden;
  overflow-Y: auto;
  -webkit-transform: translate3d(0, 0, 0);
  display: none;
}

.title-modal {
  font-size: 1.4rem;
  font-weight: 600;
  color: #0054A6;
}

.modals-body p {
  color: #202020 !important;
}

.listing-features li {
  width: 50%;
}

/*Tabel*/

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px 0px;
  width: 100%;
}

.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-4qfk {
  border-color: #343434;
  position: -webkit-sticky;
  position: sticky;
  text-align: left;
  top: -1px;
  vertical-align: top;
  will-change: transform
}

.tg .tg-iube {
  background-color: #efefef;
  border-color: #343434;
  position: -webkit-sticky;
  position: sticky;
  text-align: left;
  top: -1px;
  vertical-align: top;
  will-change: transform
}

.tg .tg-ur59 {
  border-color: #343434;
  text-align: left;
  vertical-align: top
}

.listsearch-input-item-custom {
  width: 50%;
}

.img-destination {
  height: 194px;

}

.img-destination img {
  width: 100% !important;
  height: 194px !important;
  object-fit: cover;
}

.card-destination {
  border-radius: 10px;
  border: 0px;
  box-shadow: 7px 7px 15px -10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 7px 7px 15px -10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 7px 7px 15px -10px rgba(0, 0, 0, 0.3);
}

.card-destination h3 {
  color: #FA5B63;
  margin-bottom: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

.card-destination p {
  font-size: 12px;
  color: #666;
}

.wrap-date {
  padding-top: 10px;
  border-top: 1px solid #eee;
  width: 93%;
}

.listing-item.list-layout {
  background: transparent;
}

.pagination {
  justify-content: center
}

#desDestination {
  height: 18vw;
  max-height: 341px;
  overflow-y: scroll;
}

/*lightBox*/
a.lightbox img {
  border: 5px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .15);
  border-radius: 10px;
  /*margin: 94px 20px 20px 20px;*/
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;


}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;

}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
  display: block;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  background: #A20700;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
  content: "";
  display: block;
  height: 17px;
  width: 2px;
  background: white;
  position: absolute;
  left: 17px;
  top: 9px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
  content: "";
  display: block;
  height: 17px;
  width: 2px;
  background: white;
  position: absolute;
  left: 17px;
  top: 9px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
  opacity: 1;
  top: 0px;
  left:0px;
  bottom: 0;
  overflow: scroll;
  z-index:  6;

}

.lightbox-target:target img {
  max-height: 90%;
  max-width: 90%;
}

.lightbox-target:target a.lightbox-close {
  top: 0;
}

.main-header,footer.main-footer{
  z-index: 6!important;
}


@media screen and (max-width: 767px) {

  .wrap-div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;

  }

  .wrap-div .second-div {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .wrap-div .first-div {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .wrap-div .third-div {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }


  .tg {
    width: auto !important;
  }

  .tg col {
    width: auto !important;
  }

  .tg-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: auto 0px;
  }

  .listing-features li {
    width: 100%;
  }

  .grid-small-pad .grid-item-holder {
    padding: 20px 0px 0px 0;
    margin-bottom: 10px;
  }


  .listsearch-input-item-custom {
    width: 100%;
  }

  .img-destination {
    height: 265px;

  }

  .img-destination img {
    width: 100% !important;
    height: 265px !important;
    object-fit: cover;
  }

  #desDestination{
    height: auto;
  }

  .lightbox>img{
    margin-bottom:  20px;
  }

  .logo-holder img{
    width: 175px;
    height: auto;
  }

}

/*end tabel*/
